<div style="max-width: 900px;">
    <div class="container">
        <form class="location">
            <div class="form1">
                <label>Location</label>
                <select name="location">
                  <option value="">Any</option>
                  <option value="">Pretoria Central</option>
                  <option value="">Centurion</option>
                  <option value="">Midrand</option>
                  <option value="">Silver lakes</option>

              </select>
            </div>
            <div class="form2">
                <select name="propertytype">
                <option value="">Property type</option>
                <option value="">House</option>
                <option value="">Apartment</option>
                <option value="">Commercial Property</option>
        </select>
                <select name="rooms">
                <option value="">Rooms</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4+</option>
        </select>
                <select name="prices">
                <option value="">Max Price</option>
                <option value="">R 2000</option>
                <option value="">R 3000</option>
                <option value="">R 4000</option>
                <option value="">R 5000</option>
                <option value="">R 6000</option>
                <option value="">R 7000</option>
                
        </select>

            </div>


        </form>

    </div>
</div>