.container .location {
    margin: auto;
    display: block;
    justify-content: center;
}

.container select {
    margin: 1%;
    height: 35px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: medium;
}