<div style="max-width: 900px;">
    <div class="container">
        <form class="location">
            <div class="form1">
                <label>Location</label>
                <select name="location">
                  <option value="">Any</option>
                  <option value="Pretoria Central">Pretoria Central</option>
                  <option value="Centurion">Centurion</option>
                  <option value="Midrand">Midrand</option>
                  <option value="Silver lakes">Silver lakes</option>

              </select>
            </div>
            <div class="form2">
                <select name="propertytype">
                <option value="">Property type</option>
                <option value="House">House</option>
                <option value="Apartment">Apartment</option>
                <option value="Commercial">Commercial</option>
        </select>
                <select name="rooms">
                <option value="">Rooms</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4+</option>
        </select>
                <select name="prices">
                <option value="">Max Price</option>
                <option value=2000>R 2000</option>
                <option value=3000>R 3000</option>
                <option value=4000>R 4000</option>
                <option value=5000>R 5000</option>
                <option value=6000>R 6000</option>
                <option value=7000>R 7000</option>
                
        </select>

            </div>


        </form>

    </div>
</div>