<div class="container">
    <form class="location">

        <select name="cars" placeholder="select location">
          <option value="volvo"> locations </option>
          <option value="volvo">Pretoria </option>
          <option value="saab">Acardia</option>
          <option value="opel">Midrand</option>
          <option value="audi">Hatfield</option>
        </select>
        <div>
            <select name="cars" placeholder="select location">
            <option value="volvo"> locations </option>
            <option value="volvo">Pretoria </option>
            <option value="saab">Acardia</option>
            <option value="opel">Midrand</option>
            <option value="audi">Hatfield</option>
          </select>
            <select name="cars" placeholder="select location">
            <option value="volvo"> locations </option>
            <option value="volvo">Pretoria </option>
            <option value="saab">Acardia</option>
            <option value="opel">Midrand</option>
            <option value="audi">Hatfield</option>
          </select>
            <select name="cars" placeholder="select location">
            <option value="volvo"> locations </option>
            <option value="volvo">Pretoria </option>
            <option value="saab">Acardia</option>
            <option value="opel">Midrand</option>
            <option value="audi">Hatfield</option>
          </select>
        </div>


    </form>

</div>