<div style="background-color: #fff; padding-top: 40px">
  <h2 style="text-align: center; color: rgb(90, 169, 168)">GET IN TOUCH</h2>
  <br />
  <br />
  <div class="footer" style="display: flex">
    <div class="box dark">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        CONTACT US
      </h3>
      <div class="footer-column">
        <li>6 Langaman Ave</li>
        <li>Milnerton</li>
        <li>Cape town</li>
        <li>7441</li>
        <br />
        <li>Email : info@skybridge.com</li>
      </div>
    </div>
    <div class="box">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        LIVE CHAT
      </h3>
      <br />
      <p style="text-align: center; color: #444444; padding: 20px">
        A great way to communicate as we can answer your questions in real time.
        We are usually available 6 days a week between 9am and 8pm.
      </p>
    </div>
    <div class="box dark">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        SOCIALS
      </h3>
      <br />
      <div
        style="
          display: flex;
          margin: auto;
          max-width: 200px;
          justify-content: space-around;
        "
      >
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgb(90, 169, 168);
          "
        ></div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgb(90, 169, 168);
          "
        ></div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgb(90, 169, 168);
          "
        ></div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgb(90, 169, 168);
          "
        ></div>
      </div>
    </div>
    <div class="box">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        SUBSCRIBE TO OUR NEWSLETTER
      </h3>
      <input type="text" placeholder="Enter Email" />
      <br />
      <br />
      <input type="submit" style="background-color: rgb(90, 169, 168)" />
    </div>
  </div>
</div>

<!-- <div style="background-color: #2d1424">
  <footer style="max-width: 1250px">
    <h1 style="padding: 15px">SkyBridge</h1>
    <hr style="border-bottom: none" />
    <div class="footer-row">
      <div class="footer-column">
        <li>
          <a style="color: #eee; text-decoration: none" href="#home">Home</a>
        </li>
        <li>
          <a style="color: #eee; text-decoration: none" href="#one">About Us</a>
        </li>
        <li>
          <a style="color: #eee; text-decoration: none" href="#two">Services</a>
        </li>
        <li>
          <a style="color: #eee; text-decoration: none" href="#four">Rental</a>
        </li>
        <li>
          <a style="color: #eee; text-decoration: none" href="#three">Sales</a>
        </li>
      </div>
      <div class="footer-column">
        <li>
          <i></i>
          Riverside A 327
        </li>
        <li>
          <i></i>
          Jane Furse
        </li>
        <li>
          <i></i>
          Polokwane
        </li>
        <li>
          <i></i>
          1085
        </li>
      </div>
      <div class="footer-column">
        <li>
          <i></i>
          info@skybridge.com
        </li>
        <li>
          <i></i>
          0798672741
        </li>
        <li>
          <i></i>
          Pretoria
        </li>
        <li>
          <i></i>
          Gauteng , South Africa
        </li>
      </div>
      <div class="footer-column">
        <li>
          <i></i>
          <a style="color: #eee; text-decoration: none">FaceBook</a>
        </li>
        <li>
          <i></i>
          <a style="color: #eee; text-decoration: none">Whatsapp</a>
        </li>
        <li><i class="fa fa-telegram" style="font-size:20px"></i><a style="color: #eee;text-decoration: none;" href="">Telegram</a></li>
        <li>
          <i></i>
          <a style="color: #eee; text-decoration: none">Instagram</a>
        </li>
        <li>
          <i></i>
          <a style="color: #eee; text-decoration: none">Linkedin</a>
        </li>
      </div>
      <div class="footer-column">
        <li>Terms & Conditions</li>
        <li>
          <i style="font-size: 20px; color: #eee"></i>
          Privacy Policy
        </li>
        <li>
          <i style="font-size: 20px; color: #eee"></i>
          Cookie Policy
        </li>
      </div>
    </div>
  </footer>
</div> -->
<!-- <div style="padding: 20px; background-color: rgb(245, 245, 245)"></div> -->
<div style="background-color: rgb(90, 169, 168)">
  <p style="text-align: center; padding: 10px">
    &copy; Copyright 2024 Allrights reserved : FadimanTech Pty(Ltd)
  </p>
</div>
