footer {
    text-align: center;
    background-color: #f0438e;
    color: white;
    font-family: "P24-SourceSans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 330px;
}

.footer-column {
    margin-top: 30px;
    float: left;
    width: 20%;
}

.fa {
    padding-right: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-column li {
    margin-top: 15px;
    list-style-type: none;
    text-align: left;
    margin-left: 3%;
}

.footer-column h2 {
    text-align: left;
    margin-left: 3%;
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
    .footer-column {
        margin-top: 1px;
        width: 100%;
        font-family: arial;
        background-color: #f0438e;
    }
    .footer-column li {
        padding-bottom: 10px;
    }
    .footer-column h2 {
        padding-top: 15px;
    }
}