<div style="background-color: #fff; padding-top: 40px">
  <h2 style="text-align: center; color: #0174e1">GET IN TOUCH</h2>
  <br />
  <br />
  <div class="footer" style="display: flex">
    <div class="box dark">
      <h3
        style="
          text-align: center;
          text-transform: uppercase;
          color: #fcfcfc;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        ">
        CONTACT US
      </h3>
      <div class="footer-column">
        <li>6 Langaman Ave</li>
        <li>Milnerton</li>
        <li>Cape town</li>
        <li>7441</li>
        <br />
        <li>Email : info@skybridge.com</li>
      </div>
    </div>
    <div class="box">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        LIVE CHAT
      </h3>
      <br />
      <p style="text-align: center; color: #444444; padding: 20px">
        A great way to communicate as we can answer your questions in real time.
        We are usually available 6 days a week between 9am and 8pm.
      </p>
    </div>
    <div class="box dark">
      <h3 style="text-align: center; text-transform: uppercase; color: #ffffff">
        SOCIALS
      </h3>
      <br />
      <div
        style="
          display: flex;
          margin: auto;
          max-width: 200px;
          justify-content: space-around;
        ">
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #ffffff;
          ">
          <i class="fa fa-instagram" style="color: #0174e1; padding: 15px"></i>
        </div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #ffffff;
          ">
          <i class="fa fa-linkedin" style="color: #0174e1; padding: 15px"></i>
        </div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #ffffff;
          ">
          <i class="fa fa-facebook" style="color: #0174e1; padding: 15px"></i>
        </div>
        <div
          style="
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #ffffff;
          ">
          <i class="fa fa-phone" style="color: #0174e1; padding: 15px"></i>
        </div>
      </div>
    </div>
    <div class="box">
      <h3 style="text-align: center; text-transform: uppercase; color: #444444">
        SUBSCRIBE TO OUR NEWSLETTER
      </h3>
      <input type="text" placeholder="Enter Email" />
      <br />
      <br />
      <input type="submit" style="background-color: #0174e1" />
    </div>
  </div>
</div>
<br>
<br>
<br>
<div style="background-color: #0174e1">
  <p style="text-align: center; padding: 10px; color: #fff">
    &copy; Copyright 2025 Allrights reserved : FadimanTech Pty(Ltd)
  </p>
</div>
