<div style="background-color:#2d1424;">
    <footer style="max-width: 1250px;">
        <h1 style="padding:15px">SkyBridge</h1>
        <hr style="border-bottom: none;">
        <div class="footer-row">
            <div class="footer-column">
                <li><a style="color: #eee;text-decoration: none;" href="#home">Home</a></li>
                <li><a style="color: #eee;text-decoration: none;" href="#one">About Us</a></li>
                <li><a style="color: #eee;text-decoration: none;" href="#two">Services</a></li>
                <li><a style="color: #eee;text-decoration: none;" href="#four">Rental</a></li>
                <li><a style="color: #eee;text-decoration: none;" href="#three">Sales</a></li>

            </div>
            <div class="footer-column">

                <li><i> </i>Riverside A 327</li>
                <li><i></i>Jane Furse</li>
                <li><i></i>Polokwane</li>
                <li><i></i>1085</li>
            </div>
            <div class="footer-column">
                <li><i> </i>info@skybridge.com</li>
                <li><i></i>0798672741</li>
                <li><i></i>Pretoria</li>
                <li><i></i>Gauteng , South Africa</li>
            </div>

            <div class="footer-column">
                <li><i></i><a style="color: #eee;text-decoration: none;">FaceBook</a></li>
                <li><i></i><a style="color: #eee;text-decoration: none;">Whatsapp</a></li>
                <!-- <li><i class="fa fa-telegram" style="font-size:20px"></i><a style="color: #eee;text-decoration: none;" href="">Telegram</a></li>-->
                <li><i></i><a style="color: #eee;text-decoration: none;">Instagram</a></li>
                <li><i></i><a style="color: #eee;text-decoration: none;">Linkedin</a></li>
            </div>
            <div class="footer-column">
                <li>Terms & Conditions</li>
                <li><i style="font-size:20px;color: #eee;"></i>Privacy Policy</li>
                <li><i style="font-size:20px;color: #eee;"></i>Cookie Policy</li>
            </div>



        </div>
    </footer>
</div>
<div style="height: 40px;">

    <p style="text-align: center;padding-top: 15px;">&copy; Copyright 2023 mafadi lephaka</p>
</div>