.contactnav {
    background-color: #f5f5f5;
    width: 100%;
    color: aliceblue;
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

.contact-nav {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex; */
    height: 40px;
    max-width: 1500px;
    /* background-color: #f0438e; */
}

.contact-nav p {
    /* background-color: #f0438e; */
    padding-left: 10px;
    color: #838383;
    margin-top: 7px;
}