.contactnav {
    background-color:  #2d1424;
    width: 100%;
    color: aliceblue;
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

.contact-nav {
    display: flex;
    align-items: flex;
    height: 3vh;
    max-width: 1500px;
    /* background-color: #f0438e; */
}

.contact-nav p {
    /* background-color: #f0438e; */
    padding-left: 20px;
}