.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    font-family: "P24-SourceSans", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.card p {
    padding: 5px;
    color: #555454;
}

.card h2 {
    padding: 5px;
    color: #555454;
}

.about-section {
    padding: 20px;
    text-align: center;
    background-color: #f0438e;
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container2::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    padding: 10px;
}

.button {
    border: none;
    border-radius: 4px;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #f0438e;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 767px) {
    .column {
        width: 100%;
    }
    .about-company {
        width: 100%;
    }
}

.column1 {
    float: left;
    width: 33.33%;
    height: 200px;
}

.bundle .column1 h2 {
    text-align: center;
    padding: 10px;
    color: #eee;
}

.bundle .column1 p {
    text-align: center;
    padding: 10px;
    color: #ddd;
}

.bundle i {
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}


/* Clear floats after the columns */

.bunlde:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 767px) {
    .column1 {
        width: 100%;
    }
}


/*=================================================================================================*/

.about-company {
    float: left;
    width: 50%;
    color: #555454;
    position: relative;
}

.about-company h1 {
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.about-company p {
    font-size: 15px;
    line-height: 1.9em;
    padding: 20px;
    text-align: justify;
}


/*=====================================================================*/

.description .row {
    margin-top: 5%;
    margin-bottom: 10%;
}

.description .row p {
    margin-top: 7%;
    text-align: center;
    color: #555454;
}

h1 {
    margin-top: 0%;
    text-align: center;
    color: #555454;
}

.description .row h2 {
    padding-top: 10px;
    text-align: center;
    color: #555454;
}

.description h1 {
    margin-top: 6%
}

.description .row p {
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7em;
    color: #555454;
    text-align: justify;
}

.description .column {
    float: left;
    width: 22%;
    margin: 0.5%;
}

.description .row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 767px) {
    .description .column {
        width: 100%;
    }
    .about-company {
        width: 100%;
    }
}