<div class="about-section">
    <h1>Looking for a property management company?</h1>
    <p>Let us assist you with managing your property. Fill in the form below and we will get right back to you.</p>
</div>

<div style="margin:5%">
    <div class="container2" style="max-width:1080px;margin:auto">
        <div class="about-company">
            <h1>SkyBridge property management</h1>
            <p>Driven by strong demand for property management solutions, a hands-on approach, and good old-fashioned personal service, Mafadi has established itself as a new breed in the property stable. By understanding tenants’ needs and partnering closely
                with property owners and developers, Mafadi not only maximises income for property investors but adds value to our cities by managing sustainable living and working spaces. .</p>
            <p>SkyBridge has created a home for itself in the Maboneng precinct of the Johannesburg CBD, while servicing the management needs of many other clients nationwide</p>
            <p> Established in 2012, today we manage close to 11,000 apartments in Gauteng, Western Cape and Durban.</p>
        </div>
        <div class="about-company">
            <p> Established in 2012, today we manage close to 11,000 apartments in Gauteng, Western Cape and Durban.</p>
            <p>Driven by strong demand for property management solutions, a hands-on approach, and good old-fashioned personal service, Mafadi has established itself as a new breed in the property stable. By understanding tenants’ needs and partnering closely
                with property owners and developers, Mafadi not only maximises income for property investors but adds value to our cities by managing sustainable living and working spaces. .</p>
            <p> Established in 2012, today we manage close to 11,000 apartments in Gauteng, Western Cape and Durban.</p>
            <p>SkyBridge has created a home for itself in the Maboneng precinct of the Johannesburg CBD, while servicing the management needs of many other clients nationwide</p>



        </div>
    </div>
</div>
<div style="background-color: #f0438e;height: 150px;">
    <!-- <h1 style="text-align: center;">The SkyBridge way</h1>-->
    <div style="max-width:1080px;margin:auto">

        <div class="bundle">
            <div class="column1">
                <h2>Innovative ideas</h2>
                <p>The team at Mafadi works as one to solve your property problems in the most innovative and cost-effective manner.</p>
            </div>
            <div class="column1">
                <h2>Clear communication</h2>
                <p>You will always be in the loop with a clear and open line of communication regarding the well-being of your property..</p>
            </div>
            <div class="column1">
                <h2>Advanced technology</h2>
                <p>SkyBridge's innovative use of technology and their relationship with city councils will ensure that you are never behind with your bills.</p>
            </div>
        </div>
    </div>


</div>


<div class="row" style="max-width:1080px;margin:auto">
    <div class="column">
        <div class="card">
            <img src="https://www.usnews.com/object/image/00000175-c364-db19-a3ff-d7754cd00000/201113-studying-stock.jpg?update-time=1605300999567&size=responsive970 " alt="Jane" style="width:100%">
            <div class="container">
                <h2>Fadiman</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <!-- <p>jane@example.com</p> -->
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://www.usnews.com/object/image/00000175-c364-db19-a3ff-d7754cd00000/201113-studying-stock.jpg?update-time=1605300999567&size=responsive970 " alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <!-- <p>mike@example.com</p> -->
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://www.usnews.com/object/image/00000175-c364-db19-a3ff-d7754cd00000/201113-studying-stock.jpg?update-time=1605300999567&size=responsive970 " alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <!-- <p>john@example.com</p> -->
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>