<div class="about-section">
    <h1 style="color: #eee;">Looking for a property management company?</h1>
    <p style="padding-top:10px">Let us assist you with managing your property.</p>
</div>

<div style="margin:5%">
    <div class="container2" style="max-width:1080px;margin:auto">
        <h1 style="padding-bottom: 50px;">SkyBridge property management</h1>
        <div class="about-company">

            <p>Skybridge is a modern property management company that has gained a reputation for providing a unique combination of technology-driven solutions, personalized service, and a hands-on approach to managing properties. They are focused on understanding
                the needs of tenants and working closely with property owners and developers to create sustainable living and working spaces that add value to cities. The company has established itself as a leading player in the property management industry,
                with a strong presence in the Maboneng precinct of Johannesburg and a growing portfolio of close to 100 apartments in Pretoria and Johannesburg.</p>
        </div>
        <div class="about-company">

            <p>Driven by strong demand for property management solutions, a hands-on approach, and good old-fashioned personal service, Skybridge has established itself as a new breed in the property stable. By understanding tenants’ needs and partnering
                closely with property owners and developers, Skybridge not only maximises income for property investors but adds value to our cities by managing sustainable living and working spaces. SkyBridge has created a home for itself in the pretoria,
                while servicing the management needs of many other clients throughout the province</p>
        </div>
    </div>
</div>
<div style="background-color: #f0438e;height: 300px;">
    <!-- <h1 style="text-align: center;">The SkyBridge way</h1>-->
    <div style="max-width:1080px;margin:auto">

        <div class="bundle">
            <div class="column1">
                <i class='fas fa-layer-group center'></i>
                <h2>Innovative ideas</h2>
                <p>The team at Skybridge works as one to solve your property problems in the most innovative and cost-effective manner.</p>
            </div>
            <div class="column1">
                <i class='far fa-envelope-open center'></i>
                <h2>Clear communication</h2>
                <p>You will always be in the loop with a clear and open line of communication regarding the well-being of your property..</p>
            </div>
            <div class="column1">
                <i class='fas fa-desktop center'></i>
                <h2>Advanced technology</h2>
                <p>SkyBridge's innovative use of technology and their relationship with city councils will ensure that you are never behind with your bills.</p>
            </div>
        </div>
    </div>
</div>
<div class="description" style="max-width: 1250px;margin:auto;">
    <h1>SA full-service property solution</h1>
    <div class="row">
        <div class="column" style="background-color:#f5f4f4;">
            <h2>Rentals</h2>
            <p>We provide a comprehensive letting service to landlords and owners of sectional title properties. Our distinctive and concentrated method guarantees that we locate the most suitable tenants for your property. SkyBridge employs a committed
                team of letting agents who strive to meet specific goals each month. We specialize in the letting of residential, commercial, and retail properties. Furthermore, our exclusive student portal, extensive knowledge of student housing requirements
                in South Africa, and strong connections with the country's major higher education institutions make us the preferred option for students seeking ideal accommodations.</p>
        </div>
        <div class="column" style="background-color:#f5f4f4;">
            <h2><b>Rental management</b></h2>
            <p>At SkyBridge, we have a deep understanding of the requirements of landlords. Our advanced software, combined with our extensive knowledge and skills, enables us to provide a comprehensive rental management solution. Our top priority is to
                ensure that you receive timely and complete rental payments, and that all levies, utilities, and rates are regularly updated. We also strive to maintain your property in excellent condition. Our commitment to sustainability is reflected
                in our emphasis on using recycled buildings across South Africa. In addition to carrying out standard property management tasks, we aim to enhance the areas surrounding your property by collaborating closely with central improvement districts,
                city councils, and other organizations that share our values.</p>
        </div>
        <div class="column" style="background-color:#f5f4f4;">
            <h2>Body corporate management</h2>
            <p>We have developed a comprehensive solution for body corporate management, which has become one of our core strengths in recent years. By collaborating closely with body corporates, we ensure efficient control, management, maintenance, and
                administration of properties nationwide. Our services include building repairs and maintenance, financial budgeting and reporting, contract management, enforcing rules and by-laws, addressing owner concerns and resolving disputes, collecting
                levies and overdue payments, arranging meetings, and issuing notices, orders, and certificates. At Skybridge, we aim to alleviate the burden, stress, and pressure of body corporate roles and responsibilities by managing them seamlessly
                and precisely.
            </p>
        </div>
        <div class="column" style="background-color:#f5f4f4;">
            <h2>Sales</h2>
            <p>We can assist you in finding either a home you adore or an investment that generates profit. Skybridge, with over 000 properties in our management portfolio and years of being a market leader, can help you sell your current property or locate
                the ideal one. We provide an extensive selection of residential properties and a considerable commercial and retail inventory, catering to buyers with unique requirements. Our team of experts will guide you through the entire process,
                leveraging our expertise, knowledge, and experience.</p>
        </div>
    </div>
</div>

<div style="background-color:#f0438e; height: 100px;">
    <div style="max-width:1080px;margin:auto">
        <h1 style="padding: 30px;color: #f5f4f4;">Our Teams</h1>
    </div>
</div>

<div class="row" style="max-width:1080px;margin:auto">
    <div class="column" *ngFor="let item of  profileData">
        <div class="card">
            <img [src]=item.profile alt="Jane" style="width:100%">
            <div class="container">
                <h2>{{item.name}}</h2>
                <p class="title">{{item.position}}</p>
                <p>{{item.about}}</p>
                <!-- <p>jane@example.com</p> -->
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>