/* General Styles */
.column {
    margin-bottom: 16px;
    font-family: "P24-SourceSans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: #fff;
}

.card p, .card h2 {
    padding: 10px;
    color: #555454;
}

/* About Section */
.about-section {
    padding: 55px 20px;
    height: 400px;
    text-align: center;
    background-color: #2d1424;
    background-image: linear-gradient(45deg, rgba(10, 10, 10, 0.671), rgba(34, 34, 34, 0.712)), url('https://www.ecoprops.co.za/images/slide-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* Button Styles */
.button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #0174E1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 12px;
}

.button:hover {
    background-color: #555;
}

/* Bundle Section */
.bundle {
    display: flex;
    justify-content: space-around;
}

.bundle .column1 h2,  .service h2 {
    text-align: center;
    padding: 10px;
    color: #0174E1;
}

.bundle .column1 p {
    text-align: center;
    padding: 10px;
    color: #616161;
    line-height: 1.6;
    font-size: 15px;
}

.bundle fa-icon {
    font-size: 50px;
    color: #0174E1;
    padding-top: 40px;
}

/* About Company Section */
.about-company {
    /* width: 50%; */
    color: #555454;
}

.about-company h1 {
    font-size: 25px;
    padding-left: 20px;
}

.about-company p {
    font-size: 15px;
    line-height: 1.9em;
    padding: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .column, .about-company, .bundle {
        width: 100%;
        flex-direction: column;
    }

    .description .column {
        width: 90%;
        margin: 5%;
    }
}

/* Team Section */
.our-teams .background-div {
    width: 100%;
    background-image: url('https://www.ecoprops.co.za/images/slide-1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* Section Titles */
.about-title, .section-title {
    /* padding-top: 50px; */
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.company-name{
    text-align: center;
    padding-top: 50px;
    color: #fff;
    text-transform: uppercase;
}
/*  */
.profile-card-wrapper {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* background-color: #f8f9fa; */
  }
  .profile-card {
    background-color: #fff;
    /* width: 350px; */
    margin: 5px;
    /* border-radius: 12px; */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .profile-image img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  }
  .profile-caption {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    color: #f1c40f;
    font-weight: bold;
  }
  .profile-caption a {
    color: #2ecc71;
    text-decoration: none;
  }
  .profile-caption a:hover {
    text-decoration: underline;
  }
  .profile-status {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -20px;
  }
  .status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #2ecc71;
    border-radius: 50%;
    margin-right: 8px;
  }
  .add-button {
    background-color: #e74c3c;
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
  }
  .add-button:hover {
    background-color: #c0392b;
  }
  .profile-info p {
    margin: 10px 0;
    color: #7f8c8d;
    text-align: left;
    padding-left: 20px;
  }
  .quote {
    font-size: 0.9em;
  }
  .profile-stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .profile-stats div p:first-child {
    color: #95a5a6;
    font-size: 0.8em;
  }
  .profile-stats div p:last-child {
    color: #3498db;
    font-size: 1.2em;
  }
  .template-credit {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
  }
  .template-credit a {
    color: #95a5a6;
  }
  .template-credit a:hover {
    color: #2c3e50;
  }
  /*  */
  .features-section{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 75px 20px;
  }
  .features-section .container{
    padding: 30px;
    margin: 20px 20px 20px -20px;
  }
  feature:hover {
    transform: translateY(-10px);
  }
  
  .feature fa-icon {
    font-size: 25px;
    color: #f5f5f7;
 
  }
  
  .feature h2 {
    font-size: 1.2rem;
    color: #555454;
    text-align: center;
    text-transform: uppercase;
    font-family: serif;


  }
  
  .feature p {
    font-size: 15px;
    color: #555454;
    padding: 0px;
    text-align: center;
  }
  .feature {
    background-color: #f5f5f5;
    padding: 10px 25px;
    margin: 10px;
  }
  /*  */
  /* General styles */


.services-section {
  background-color: #fff;
  padding: 100px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.services-section .section-title {
  margin-bottom: 50px;
  font-size: 24px;
  color: #007BFF;
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service {
  background-color: #007BFF;
  padding: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: serif;
  
}

.service p {
  font-size: 15px;
  line-height: 1.5;
  color: #ececec;
}
