<nav class="navbar" style="">
  <!-- LOGO -->
  <div class="logo">
    <h1
      style="
        text-transform: uppercase;
        font-family: serif;
        color: rgb(90, 169, 168);
      "
    >
      SkyBridge
    </h1>
    <p style="font-size: 14px; margin-top: -28px; color: #adadad">
      Properties Management
    </p>
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li>
        <a routerLink="./">Home</a>
      </li>

      <li class="services">
        <a href="/">Services</a>
        <ul class="dropdown">
          <li>
            <a href="/">Management</a>
          </li>
          <li>
            <a href="/">Sales</a>
          </li>
          <li>
            <a href="/">Rental</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="./sales"> Properties For Sale </a>
      </li>
      <li>
        <a routerLink="./rental"> Properties to rent </a>
      </li>
      <!-- <li>
        <a routerLink="./rental">houses</a>
      </li> -->
      <li>
        <a routerLink="./aboutus">About us</a>
      </li>
      <li>
        <a routerLink="./contactus">Contact us</a>
      </li>
    </div>
  </ul>
</nav>
