
        .about-section {
            padding: 50px;
            min-height: 400px;
            text-align: center;
            background-color: #2d1424;;
            color: white;
            font-family: "P24-SourceSans", Helvetica, Arial, sans-serif;
            font-size: 15px;
            background-image: linear-gradient(45deg, rgba(39, 22, 19, 0.45), rgba(22, 29, 37, 0.65)), url('https://www.ecoprops.co.za/images/slide-1.jpg');
                /* background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/15/13/istock-671323338.jpg?width=1200"); */
            background-repeat: no-repeat;
            background-size: cover;
        }
        .contact-info {
            background-color: #f7f7f7;
            padding: 20px;
            margin: 20px 0;
            text-align: center;
        }

        .contact-info h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .contact-info p {
            font-size: 15px;
            margin-bottom: 5px;
            color: #ddd;
        }

        /* Style the form and map container */
        .contactContent {
            display: flex;
            /* flex-direction: column; */
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        

        /* Style the form */
        .form {
            background-color: #fff;
            color: #ddd;
            padding: 20px;
            border-radius: 10px;
        }

        .form label {
            /* font-weight: bold; */
            margin-bottom: 10px;
        }

        .form input,
        .form textarea {
            width: 96%;
            padding: 12px 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background-color: #eee;
        }

        .form button {
            background-color: #0174E1;
            color: #383838;
            padding: 10px 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form button:hover {
            background-color: #0056b3;
        }
        .contactContent{
            display: flex;
            max-width: 1200px;
            margin: auto;
            background-color: #f5f5f5;
        }
        .col-lg-6 {

            width: 50%;
            padding: 35px;
        }
        p{
            color: #444444;
            font-size: 14px;
        }
        li{
            color: #444444;
            font-size: 14px;
        }

        
        @media screen and (max-width: 767px) {
            .container {
                flex-direction: column;
            }
            .col-lg-6 {
                width: 100%;
                padding: 35px;
            }
        }