<div class="about-section">
    <h1>Contact Skybridge</h1>
    <br>
    <p>If you have any questions, we would love to help.</p>
</div>
<div class="container mt-3 contactContent" id="six">
    <div class="col-lg-6">
        <div class="map" style="border-radius: 5px;">
            <div id="gmapcanvas" style="min-height:500px; width:100%;max-width:100%;border-radius: 20px;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Cape+Town+Belville&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
            </div>
            <!-- <a class="googlehtml" href="https://www.embed-map.com" id="get-mapdata"></a> -->
            <style>
                #gmapcanvas img.text-marker {
                    max-width: none !important;
                    background: none !important;
                }

                img {
                    max-width: none;
                }
            </style>
        </div>
    </div>
    <div class="col-lg-6" >
        <form class="form" action="https://formsubmit.co/wiskatp2018@gmail.com" method="POST">
            <label for="name" style="padding-bottom: 10px;">Your Name:</label>
            <input id="name" type="text" class="form-control form-control-lg" placeholder="Name" required>
            <label for="email">Email:</label>
            <input id="email" type="email" class="form-control mt-3" placeholder="Email" required>
            <input type="hidden" name="_next" value="thankyou.html">
            <div class="mb-3 mt-3">
                <label for="message">Message:</label>
                <textarea id="message" class="form-control" rows="5" name="text" placeholder="Type your message" required></textarea>
            </div>
            <button type="submit" class="Contactme-btn">Send</button>
        </form>
    </div>
</div>
           
            <div class="contact-info" style=" background-color: #2d1424;;">
    <h3>Contact Information</h3>
    <p>Please feel free to contact us with any questions or requests you may have.</p>
    <p>We are happy to help with all property management services.</p>
    <p>Phone: 011 610 9900</p>
    <p>Email: info@mafadi.co.za</p>
    <p>Hours: Mon-Fri 8am – 5pm</p>
    <br>
    <p>Address:</p>
    <p>Johannesburg</p>
    <p>The Main Change Building</p>
    <p>20 Kruger Street</p>
    <p>City and Suburban</p>
    <p>Johannesburg</p>
    <p>2094</p>
    <p>011 610 9900</p>
    <br>
    <p>Midrand, Centurion & Pretoria</p>
    <p>Broadwalk Urban Village</p>
    <p>12 Broadwalk Street</p>
    <p>Grand Central</p>
    <p>Midrand</p>
    <p>1685</p>
    <p>087 357 0290</p>
</div>
<!-- Include your footer component here -->