<div class="about-section">
  <h1  style="
  text-transform: uppercase;
  font-family: serif;
  color: #ffffff;
  padding-top: 100px;
">Contact Skybridge</h1>
  <br />
  <p style="color: #ffffff;">If you have any questions, we would love to help.</p>
</div>
<div style="padding: 50px;background-color: #0174E1;">
  <div class="container mt-3 contactContent" id="six">
    <div class="col-lg-6">
      <!-- <div class="map" style="border-radius: 5px">
      <div
        id="gmapcanvas"
        style="
          min-height: 500px;
          width: 100%;
          max-width: 100%;
          border-radius: 20px;
        "
      >
        <iframe
          style="height: 100%; width: 100%; border: 0"
          frameborder="0"
          src="https://www.google.com/maps/embed/v1/place?q=Cape+Town+Belville&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        ></iframe>
      </div>
      <a class="googlehtml" href="https://www.embed-map.com" id="get-mapdata"></a>
      <style>
        #gmapcanvas img.text-marker {
          max-width: none !important;
          background: none !important;
        }

        img {
          max-width: none;
        }
      </style>
    </div> -->
      <p>Let's talk...</p>
      <p>
        Please contact us to discuss your requirements. We would be delighted to
        hear from you and open doors to your dream property in Barbados.
      </p>
      <p>Address</p>
      <div class="footer-column">
        <li>6 Langaman Ave</li>
        <li>Milnerton</li>
        <li>Cape town</li>
        <li>7441</li>
        <br />
        <li>Email : info@skybridge.com</li>
      </div>
    </div>
    <div class="col-lg-6">
      <form
        class="form"
        action="https://formsubmit.co/wiskatp2018@gmail.com"
        method="POST"
      >
        <label for="name" style="padding-bottom: 10px">Your Name:</label>
        <input
          id="name"
          type="text"
          class="form-control form-control-lg"
          placeholder="Name"
          required
        />
        <label for="email">Email:</label>
        <input
          id="email"
          type="email"
          class="form-control mt-3"
          placeholder="Email"
          required
        />
        <input type="hidden" name="_next" value="thankyou.html" />
        <div class="mb-3 mt-3">
          <label for="message">Message:</label>
          <textarea
            id="message"
            class="form-control"
            rows="5"
            name="text"
            placeholder="Type your message"
            required
          ></textarea>
        </div>
        <button type="submit" class="Contactme-btn" style="color: #fff;">Send</button>
      </form>
    </div>
  </div>
</div>
