<div class="container">
    <div style="max-width: 1250px;">
        <div class="search">
            <form action="" style="margin-left: 20px;display: flex;margin-right: 20px">

                <input list="browsers" name="browser" class="select" placeholder="Location">
                <datalist id="browsers">
                  <option value="Limpopo">
                  <option value="Gauteng">
                  <option value="Western cape">
                </datalist>

            </form>
        </div>
        <!-- <app-searchbar></app-searchbar> -->
        <div class="buttons">
            <button class="button button4" routerLink="./rental">Rental</button>
            <button class="button button5" routerLink="./rental">Sales</button>
        </div>
        <div class="services" style="margin-top:7%;border-radius: 10px">
            <div style="text-align: center;   ">
                <h1 style=" border-bottom: 1px solid #f0438e;padding-bottom: 20px;">Proffessional Property Services</h1>
            </div>
            <div class="items" style="text-align: center;">
                <div>
                    <button class="button button4"><fa-icon [icon]='faHouse' style='font-size:30px;color:white;padding:5px;'></fa-icon></button>
                    <p style=" padding-top:15px ">Rental Management</p>
                </div>
                <div>
                    <button class="button button4"><fa-icon [icon]='faBook' style='font-size:30px;color:white;padding:5px;'></fa-icon></button>
                    <p style=" padding-top:15px ">Body Corporate</p>
                </div>
                <div>
                    <button class="button button4"><fa-icon [icon]='faChartSimple' style='font-size:30px;color:white;padding:5px;'></fa-icon></button>
                    <p style=" padding-top:15px ">Marketing Services</p>
                </div>
                <div>
                    <button class="button button4"><fa-icon [icon]='faBuilding' style='font-size:30px;color:white;padding:5px;'></fa-icon></button>
                    <p style=" padding-top:15px ">Property Sales</p>
                </div>
            </div>
            <div style="text-align: center; margin-top:40px   ">
                <h1 style=" background-color:  #f0438e;width: 230px;border-radius: 10px;">Let's get started</h1>
            </div>
        </div>
        <div>

        </div>
    </div>


</div>
<app-description></app-description>
<app-footer></app-footer>