<div style="background-color: #2d1424; padding: 20px">
  <!-- <app-filter [filteredPropertyList]="filteredPropertyList"></app-filter> -->
  <div class="container" style="max-width: 800px" (ngSubmit)="applyFilter()">
    <form class="location" style="width: 100%">
      <div></div>
      <div class="form1" style="display: flex">
        <div style="width: 25%; margin-left: 7px">
          <label>Property</label>
          <select name="propertytype">
            <option value="">All</option>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
          </select>
        </div>

        <div style="width: 75%; margin: 7px">
          <label>Location</label>
          <select name="location">
            <option value="">Any</option>
            <option value="Pretoria Central">Pretoria Central</option>
            <option value="Centurion">Centurion</option>
            <option value="midrand">Midrand</option>
            <option value="Silver lakes">Silver lakes</option>
          </select>
        </div>
      </div>
      <div class="form2">
        <select name="propertytype">
          <option value="">Property type</option>
          <option value="">House</option>
          <option value="">Apartment</option>
          <option value="">Commercial Property</option>
        </select>
        <select name="prices">
          <option value="">Min Price</option>
          <option value="">R 2000</option>
          <option value="">R 3000</option>
          <option value="">R 4000</option>
          <option value="">R 5000</option>
          <option value="">R 6000</option>
          <option value="">R 7000</option>
        </select>
        <select name="prices">
          <option value="">Max Price</option>
          <option value="">R 2000</option>
          <option value="">R 3000</option>
          <option value="">R 4000</option>
          <option value="">R 5000</option>
          <option value="">R 6000</option>
          <option value="">R 7000</option>
        </select>
      </div>
      <div class="form2">
        <select name="rooms">
          <option value="">bedrooms</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
        <select name="rooms">
          <option value="">Bathrooms</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
        <select name="prices">
          <option value="">Garage</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
      </div>
      <div>
        <button
          (click)="applyFilter()"
          style="
            width: 98%;
            margin: 1%;
            padding: 10px;
            border-radius: 5px;
            background-color: #f0438e;
            border: none;
            color: #fff;
          "
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div>
  <div>
    <div class="container">
      <!-- Property Card 1 -->
      <div class="property-card" *ngFor="let item of filteredPropertyList">
        <a [routerLink]="['/property', item.id, item.province, item.type]">
          <div class="property-image">
            <img src="{{ item.image }}" />
          </div>
          <div class="property-details">
            <!-- <p class="property-title">{{ item.type }}</p> -->
            <p class="property-price">R {{ item.price }}</p>
            <p class="property-location">{{ item.address }}</p>
            <p class="property-location">{{ item.type }}</p>
            <div class="property-features">
              <p>{{ item.rooms }} Bedrooms</p>
              <p>{{ item.bathrooms }} Bathrooms</p>
              <p>{{ item.size }} sq ft</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <footer style="bottom: 0px; background-color: #eee">
      <p style="text-align: center; padding-top: 10px">
        &copy; 2023 Allrights reserved :
        <a href="https://fadimantech.co.za/">FadimanTech</a>
      </p>
    </footer>
  </div>
</div>
