<hr>
<div style="height:250px;background-color:#f0438e ;">

</div>
<div class="container">
    <div class="container2" style="background-color: #eee">
        <div class="img-container">
            <H1>PICTURE</H1>
        </div>
        <div class="property-description">
            <h1>R 200 000</h1>
            <p>2 Bedroom House</p>
            <h3>Pretoria</h3>
            <p>4 Bedrooms Two bathrooms Open plan diingroom and lounge area Stacking doors open up to the swimmingpool area Study Kitchen with granite tops Seperate washingroom Bar area with built in sleeper bar opens up to the boma Big wendyhouse Swimmingpool
                Lots of parking area and garage to fit 4 cars Shopping centres and schools in the vicinity Rates and taxes Plus minus R1500 pm Prepaid
            </p>
            <div class="house-specification">
                <ul>
                    <li><i class="fa fa-bed" style="font-size:20px"></i> 2</li>
                    <li><i class="fa fa-bath" style="font-size:20px"></i> 1</li>
                    <li><i class='fas fa-car' style='font-size:20px'></i>1</li>
                    <li><i class='fas fa-home' style='font-size:20px'></i>1205m<sup>2</sup></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container2" style="background-color: #eee">
        <div class="img-container">
            <H1>PICTURE</H1>
        </div>
        <div class="property-description">
            <h1>R 200 000</h1>
            <p>2 Bedroom House</p>
            <h3>Pretoria</h3>
            <p>4 Bedrooms Two bathrooms Open plan diingroom and lounge area Stacking doors open up to the swimmingpool area Study Kitchen with granite tops Seperate washingroom Bar area with built in sleeper bar opens up to the boma Big wendyhouse Swimmingpool
                Lots of parking area and garage to fit 4 cars Shopping centres and schools in the vicinity Rates and taxes Plus minus R1500 pm Prepaid
            </p>
            <div class="house-specification">
                <ul>
                    <li><i class="fa fa-bed" style="font-size:20px"></i> 2</li>
                    <li><i class="fa fa-bath" style="font-size:20px"></i> 1</li>
                    <li><i class='fas fa-car' style='font-size:20px'></i>1</li>
                    <li><i class='fas fa-home' style='font-size:20px'></i>1205m<sup>2</sup></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container2" style="background-color: #eee">
        <div class="img-container">
            <H1>PICTURE</H1>
        </div>
        <div class="property-description">
            <h1>R 200 000</h1>
            <p>2 Bedroom House</p>
            <h3>Pretoria</h3>
            <p>4 Bedrooms Two bathrooms Open plan diingroom and lounge area Stacking doors open up to the swimmingpool area Study Kitchen with granite tops Seperate washingroom Bar area with built in sleeper bar opens up to the boma Big wendyhouse Swimmingpool
                Lots of parking area and garage to fit 4 cars Shopping centres and schools in the vicinity Rates and taxes Plus minus R1500 pm Prepaid
            </p>
            <div class="house-specification">
                <ul>
                    <li><i class="fa fa-bed" style="font-size:20px"></i> 2</li>
                    <li><i class="fa fa-bath" style="font-size:20px"></i> 1</li>
                    <li><i class='fas fa-car' style='font-size:20px'></i>1</li>
                    <li><i class='fas fa-home' style='font-size:20px'></i>1205m<sup>2</sup></li>
                </ul>
            </div>
        </div>
    </div>
</div>