.container {
    max-width: 1250px;
    margin: auto;
}

.container2 {
    width: 70%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    height: 300px;
}

.row {
    margin-top: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container .container2 .property-description {
    padding: 20px;
}

.container .container2 .property-description h1 {
    padding-top: 10px;
    color: #555454;
}

.container .container2 .property-description p {
    padding-top: 10px;
    color: #555454;
}

.container .container2 .property-description h3 {
    padding-top: 10px;
    color: #555454;
}

.container .container2 .property-description .house-specification {
    margin-top: 10px;
}

.house-specification fa-icon {
    font-size: medium;
    color: #555454;
    padding-left: 7px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 30px;
    font-size: medium;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

i {
    color: #555454;
    font-size: medium;
}

.prop-description {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    height: 137px;
}

.pagination {
    margin: 2.5%;
    text-align: center;
}

footer {
    background-color: #f0438e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .container2 {
        width: 98%;
        margin: 1%;
    }
    .container .container2 .property-description {
        padding-left: 10px;
        padding-right: 10px;
    }
    .container .container2 .property-description h1 {
        padding-top: 0px;
        font-size: larger;
    }
    .container .container2 .property-description p {
        padding-top: 4px;
        font-size: x-small;
    }
    .container .container2 .property-description h3 {
        padding-top: 2px;
        font-size: small;
    }
    .container .container2 .property-description .house-specification {
        padding-top: 0px;
    }
    li {
        padding-right: 5px;
        font-size: x-small;
    }
    .column {
        height: 156px;
    }
    i {
        font-size: small;
    }
    .prop-description {
        -webkit-line-clamp: 4;
        height: 50px;
    }
    .pagination {
        font-size: small;
    }
    .house-specification fa-icon {
        font-size: small;
        color: #555454;
        padding-left: 3px;
    }
}