<div class="description" style="max-width: 1250px;margin:auto">
    <h1>SkyBridge offers an end-to-end property services package</h1>
    <div class="row">
        <div class="column" style="background-color:#eee;">
            <h2><b>Marketing and letting</b></h2>
            <p>Need a tenant? We will promote your property on all the biggest online and print platforms. We have an in-house professional photographer and a dedicated, enthusiastic marketing team. Our 22 letting agents are relentless in filling vacancies.</p>
        </div>
        <div class="column" style="background-color:#eee;">
            <h2>Regular reporting</h2>
            <p>We arrange monthly management meetings to report back on letting, operations and finance – keeping you up to speed on all developments and ensuring the communication channels are open at all times. Ultimately, we view ourselves not just as
                your service provider but as your active partner in managing the property.</p>
        </div>
        <div class="column" style="background-color:#eee;">
            <h2>Tenant and property management</h2>
            <p>Our complete tenant and property management solution ensures all ground operations are running smoothly. From tenant service and security to cleaning and maintenance, we do everything necessary to ensure your property is looked after and your
                tenants are happy.</p>
        </div>
        <div class="column" style="background-color:#eee;">
            <h2>Client service and support</h2>
            <p>You will be allocated one of our dedicated portfolio managers who – along with their team – will put their knowledge and expertise at your disposal, offering you top-notch, personalised service and, most importantly, look after your asset/s</p>
        </div>
    </div>
</div>
<div class="about-section">
    <div style="max-width: 1250px;margin:auto">
        <h3>SkyBridge Featured Properties</h3>
        <p>Have a look at our hottest properties.</p>
    </div>

</div>
<div class="property" style="max-width: 1250px;margin:auto;margin-top: 5%;margin-bottom: 5%;">

    <div class="row">
        <div class="column" style="background-color:#eee;">

        </div>
        <div class="column" style="background-color:#eee;">

        </div>
        <div class="column" style="background-color:#eee;">

        </div>
        <div class="column" style="background-color:#eee;">

        </div>
    </div>

</div>