<!-- <br>
<br>
<br> -->
<div class="services" style="display: flex; justify-content: space-between ;width:100%">
  <div class="box dark">
    <br />
    <div style="
        background-color: #ffffff;
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: auto;
      ">
      <h1 style="color: #f5f4f4; text-align: center"></h1>
    </div>
    <br />
    <h2 style="
        text-align: center;
        color: #eff2f5;
        text-transform: uppercase;
      ">
      Marketing and letting
    </h2>
    <p style="text-align: center;color: #fff;font-size: 14px;" >
      Need a tenant? We will promote your property on all the biggest online and
      print platforms. We have an in-house professional photographer and a
      dedicated, enthusiastic marketing team. Our 22 letting agents are
      relentless in filling vacancies.
    </p>
  </div>
  <div class="box">
    <br />
    <div style="
        background-color: #0174E1;
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: auto;
      ">
      <h1 style="color: #f5f4f4; text-align: center"></h1>
    </div>
    <br />
    <h2 style="
        text-align: center;
        color: #0174E1;
        text-transform: uppercase;
      ">
      Regular reporting
    </h2>
    <p style="text-align: center;color: #666;font-size: 14px;">
      We arrange monthly management meetings to report back on letting,
      operations and finance – keeping you up to speed on all developments and
      ensuring the communication channels are open at all times. Ultimately, we
      view ourselves not just as your service provider but as your active
      partner in managing the property.
    </p>
  </div>
  <div class="box dark">
    <br />
    <div style="
        background-color: #ffffff;
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: auto;
      ">
      <h1 style="color: #f5f4f4; text-align: center"></h1>
    </div>
    <br />
    <h2 style="
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
      ">
      Property Management
    </h2>
    <p style="text-align: center;color: #fff; font-size: 14px;">
      Our complete tenant and property management solution ensures all ground
      operations are running smoothly. From tenant service and security to
      cleaning and maintenance, we do everything necessary to ensure your
      property is looked after and your tenants are happy.
    </p>
  </div>
  <div class="box">
    <br />
    <div style="
        background-color: #0174E1;
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: auto;
      ">
      <h1 style="color: #f5f4f4; text-align: center"></h1>
    </div>
    <br />
    <h2 style="
        text-align: center;
        color: #0174E1;
        text-transform: uppercase;
      ">
      Client service and support
    </h2>
    <p style="text-align: center;color: #666; font-size: 14px;">
      You will be allocated one of our dedicated portfolio managers who – along
      with their team – will put their knowledge and expertise at your disposal,
      offering you top-notch, personalised service and, most importantly, look
      after your asset/s
    </p>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<div class="about-section">
  <div class="services">

    <div style="background-color: #0175e1be; padding: 30px">
      <div class="property" style="
          max-width: 1600px;
          margin: auto;
          padding-top: 3%;
          padding-bottom: 3%;
        ">
        <div style="padding-left: 40px">
          <h1 style="
              text-transform: uppercase;
              color: #ffffff;
              font-family: BrandonGrotesque-light;
            ">
            SkyBridge Featured Properties
          </h1>
          <p style="color: #fff;">Have a look at our hottest properties.</p>
          <br />
        </div>
        <br />
        <owl-carousel-o [options]="customOptions">
          <!-- <div  style="display: flex;justify-content: space-between;"> -->
          <ng-template carouselSlide *ngFor="let item of rental_property">
            <div class="card-grid">
              <div class="card">
                <a [routerLink]="['/property', item.id, item.province, item.type]" class="card-link">
                  <div class="card-image">
                    <!--<div >
                      <owl-carousel-o [options]="carouselOptions" class="card-image">
                        <ng-container *ngFor="let img of item.images">
                          <ng-template carouselSlide>
                            <img [src]="img" alt="House" class="w-full h-48 object-cover rounded-md" style="position: relative;">
                          </ng-template>
                        </ng-container>
                      </owl-carousel-o>
                    </div> -->
                    <img [src]="item.images[0]" alt="House ">
                    <span class="badge badge-category">{{item.category}}</span>
                    <span class="badge badge-star"><i class="fa fa-star"> 4</i></span>
                    <div class="badge badge-camera"><i class="fa fa-camera"> </i>  {{ item.images.length}}</div>
                    <div class="badge badge-heart"><i class="fa fa-heart"></i></div>
                  </div>
                  <div class="card-content">
                    <h2 class="card-title">1000 yards (Brand New) Bungalow Available in...</h2>
                    <p class="card-price"><span>R</span> {{ item.price }} /Sqft</p>
                    <p class="card-description">6 bedrooms Architect designed Imported fixtures and fittings Full basement Top of the [more]</p>
                    <div class="card-features">
                      <p><i class="fa fa-bed"></i> {{ item.rooms }}</p>
                      <p><i class="fa fa-bath"></i>{{ item.bathrooms }}</p>
                      <p><i class="fa fa-home"></i> {{ item.size }} Sqlft<sup>2</sup></p>
                    </div>
                    <div class="card-footer">
                      <div class="owner-info">
                        <div class="owner-avatar">
                          <img src="{{ item.agent.image }}" style="width: 100%;border-radius: 50%;" />
                        </div>
                        <p> {{item.agent.name}}</p>
                      </div>
                      <div class="contact-buttons">
                        <button><i class="fa fa-instagram"></i></button>
                        <button><i class="fa fa-facebook"></i></button>
                        <button><i class="fa fa-linkedin"></i></button>
                        <button><i class="fa fa-phone"></i></button>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
          <!-- </div> -->
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>