<div
  style="
    padding: 35px;
    background-image: linear-gradient(
        45deg,
        rgba(39, 22, 19, 0.096),
        rgba(22, 29, 37, 0.65)
      ),
      url('https://www.ecoprops.co.za/images/slide-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    padding-top: 150px;
  "
>
  <!-- <app-filter [filteredPropertyList]="filteredPropertyList"></app-filter> -->
  <div
    class="container"
    style="max-width: 800px; background-color:#0175e19a;"
    (ngSubmit)="applyFilter()"
  >
    <form class="location" style="width: 100%">
      <div></div>
      <div class="form1" style="display: flex">
        <div style="width: 25%; margin-left: 7px">
          <label>Property</label>
          <select name="propertyType" [(ngModel)]="filterOptions.propertyType">
            <option value="">All</option>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
          </select>
        </div>

        <div style="width: 75%">
          <label>Location</label>
          <select name="location">
            <option value="">Any</option>
            <option value="Pretoria Central">Pretoria Central</option>
            <option value="Centurion">Centurion</option>
            <option value="midrand">Midrand</option>
            <option value="Silver lakes">Silver lakes</option>
          </select>
        </div>
      </div>
      <div class="form2">
        <select name="propertytype">
          <option value="">Property type</option>
          <option value="">House</option>
          <option value="">Apartment</option>
          <option value="">Commercial Property</option>
        </select>
        <select name="prices">
          <option value="">Min Price</option>
          <option value="0">R 0</option>
          <option value="100000">R 100,000</option>
          <option value="200000">R 200,000</option>
          <option value="300000">R 300,000</option>
          <option value="400000">R 400,000</option>
          <option value="500000">R 500,000</option>
          <option value="600000">R 600,000</option>
          <option value="700000">R 700,000</option>
          <option value="800000">R 800,000</option>
          <option value="900000">R 900,000</option>
          <option value="1000000">R 1,000,000</option>
        </select>

        <select name="prices">
          <option value="">Max Price</option>
          <option value="400000">R 400,000</option>
          <option value="500000">R 500,000</option>
          <option value="600000">R 600,000</option>
          <option value="700000">R 700,000</option>
          <option value="800000">R 800,000</option>
          <option value="900000">R 900,000</option>
          <option value="1000000">R 1,000,000</option>
          <option value="1100000">R 1,100,000</option>
          <option value="1200000">R 1,200,000</option>
          <option value="1300000">R 1,300,000</option>
          <option value="1400000">R 1,400,000</option>
          <option value="1500000">R 1,500,000</option>
        </select>
      </div>
      <div class="form2">
        <select name="rooms">
          <option value="">bedrooms</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
        <select name="rooms">
          <option value="">Bathrooms</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
        <select name="prices">
          <option value="">Garage</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
      </div>
      <div>
        <button
          (click)="applyFilter()"
          style="
            width: 99%;
            margin-left: 0.5%;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #f0438e;
            border: none;
            color: #fff;
          "
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div style="background-color: #f5f5f5">
  <div>
    <br />
    <div
      style="
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
      "
    >
      <label style="color: #444444d2; padding: 10px">Sort by</label>
      <select
        name="sortOption"
        id="sortOption"
        (change)="sortProperties($event)"
      >
        <option value="dateRecent">Date: Recent to Old</option>
        <option value="dateOld">Date: Old to Recent</option>
        <option value="priceLow">Price: Low to High</option>
        <option value="priceHigh">Price: High to Low</option>
      </select>
    </div>
    <div class="container">
      <!-- Property Card 1 -->
      <div class="property-card"   *ngFor=" let item of filteredPropertyList | paginate : { itemsPerPage: pageSize, currentPage: p } " >
      <div class="card-grid">
        <div class="card">
          <a [routerLink]="['/property', item.id, item.province, item.type]" class="card-link">
            <div class="card-image">
              <!-- <owl-carousel-o [options]="carouselOptions" class="card-image">
                <ng-container *ngFor="let img of item.images">
                  <ng-template carouselSlide>
                    <img [src]="img" alt="House" class="w-full h-48 object-cover rounded-md">
                  </ng-template>
                </ng-container>
              </owl-carousel-o> -->
              <img [src]="item.images[0]" alt="House ">
              <span class="badge badge-category">{{item.category}}</span>
              <span class="badge badge-star"><i class="fa fa-star">{{item.rating}}</i></span>
              <div class="badge badge-camera"><i class="fa fa-camera"> </i>  {{ item.images.length}}</div>
              <div class="badge badge-heart"><i class="fa fa-heart"></i></div>
            </div>
            <div class="card-content">
              <h2 class="card-title">{{item.tagline}}</h2>
              <p class="card-price"><span>R</span> {{ item.price }} </p>
              <p class="card-description">{{item.description}}</p>
              <div class="card-features">
                <p><i class="fa fa-bed"></i> {{ item.rooms }}</p>
                <p><i class="fa fa-bath"></i>{{ item.bathrooms }}</p>
                <p><i class="fa fa-home"></i> {{ item.size }} Sqlft<sup>2</sup></p>
              </div>
              <div class="card-footer">
                <div class="owner-info">
                  <div class="owner-avatar">
                    <img src="{{ item.agent.image }}" style="width: 100%;border-radius: 50%;" />
                  </div>
                  <p> {{item.agent.name}}</p>
                </div>
                <div class="contact-buttons">
                  <button><i class="fa fa-instagram"></i></button>
                  <button><i class="fa fa-facebook"></i></button>
                  <button><i class="fa fa-linkedin"></i></button>
                  <button><i class="fa fa-phone"></i></button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      </div>
    </div>
    <div style="padding: 15px">
      <pagination-controls
        style="text-align: center"
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>

<!-- ============================================================================================== -->

