.row {
    display: flex;

  }

  .column.left {
    flex: 65%;
  }

  .column.right {
    margin-left: 20px;
    flex: 35%;
  }

  .property-description {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .price {
    color: #0174E1;
  }

  .items {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }

  .items li {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .agent-details {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .agent-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .owner-avatar{
    width: 130px;
    padding-top: 20px;
    margin: auto;
  }

  .social-icons a {
    margin: 0 8px;
    color: #0174E1;
    font-size: 20px;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #015bb5;
  }

  button {
    background-color: #0174E1;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #015bb5;
  }